.videoPlayer {
  position: relative;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    max-width: 100%;
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 16px;
    .videoPlayer__column:first-child {
      &:hover {
        .videoPlayer__volume {
          opacity: 1;
        }
      }
      display: flex;
      align-items: center;
      #jsVolumeBtn {
        margin-right: 10px;
      }
    }
    .fas.fa-volume-up {
      &:hover {
        .videoPlayer__volume {
          opacity: 1;
        }
      }
    }
    .videoPlayer__volume {
      position: absolute;
      padding: 0;
      opacity: 0;
      top: -60px;
      left: -25px;
      transform: rotate(-90deg);
      z-index: 10;
      width: 80px;
      -webkit-appearance: none;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0);
      box-shadow: inset 0 3px 18px rgba(0, 0, 0, 0.7);
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        background-color: $red;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .videoPlayer__column:last-child {
      justify-self: end;
    }
    .videoPlayer__column:nth-child(2) {
      justify-self: center;
    }
    i {
      font-size: 25px;
      cursor: pointer;
    }
  }
}
