extends layouts/main
include mixin/videoBlock

block content
    .search__header
        h3 Searching for: #{searchingFor}
    .search__videos
        if videos.length === 0
            h5 #{searchingFor} 가 존재하지 않습니다.
        each item in videos
            +videoBlock({
                title: item.title,
                views: item.views,
                videoFile: item,videoFile,
                id: item.id
            })
